body {font-family: 'Roboto', sans-serif;}

h2 {text-align: center;}

/* Buttons */

.btn--contact {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

/* Jumbotron */

.jumbotron {background-color:transparent;}

.jumbotron-header {text-align: center;
    color: #4a93e2;
    font-weight: bold;
    width: max-content;
}

.jumbotron-text {color: #4a93e2;
    font-weight: bold;
}

/* Buttons */

.btn--contact {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--blue {
    color: white;
    background-color: blue;
    
}

.btn--blue:hover,
.btn--blue:active,
.btn--blue:focus,
.btn--blue:active:focus {
    background-color: #4a93e2;
    
    color: white;
}

/* Navbar */

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}


/* Containers */

.home-container{height:100vh;
    background: url("./assets/images/milarby-home.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color: rgba(0,0,0,0.5)
}


/* Page Headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h3 {
    margin-top: 0;
}

.content-container{padding-top:75px;
padding-bottom:75px;}

container-wrapper{}


.about-picture{height:50vh;
    background: url("./assets/images/fieldstock.jpg") no-repeat top center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color: #9b9eae;}

.about p{text-align:center;}

.container-color-about{background-color: #9b9eae;}
.container-color-photo{background-color: #acafbf;}
.container-color-video{background-color: #c2c5d6;}
.container-color-audio{background-color: #d5d9ec;}