body {font-family: 'Roboto', sans-serif;}

h2,h3 {text-align: center;}

/* Buttons */

.btn--contact {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

/* Jumbotron */

.jumbotron {background-color:transparent;}

.jumbotron-header {text-align: center;
    color: #4a93e2;
    font-weight: bold;
    width: max-content;
}

.jumbotron-text {color: #4a93e2;
    font-weight: bold;
}

/* Buttons */

.btn--contact {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--blue {
    color: white;
    background-color: blue;
    
}

.btn--blue:hover,
.btn--blue:active,
.btn--blue:focus,
.btn--blue:active:focus {
    background-color: #4a93e2;
    
    color: white;
}

/* Containers */

.home-container{height:100vh;
    background: url("./assets/images/milarby-home.jpg") no-repeat center right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color: rgba(0,0,0,0.5)
}



.about-container{background-color: #9b9eae;}
.photos-container{background-color: #acafbf;}
.video-container{background-color: #c2c5d6;}
.audio-container{background-color: #d5d9ec;}