/* ----------------------------------------Body Font */

body {
    font-family: 'Roboto', sans-serif;
    
}

/* ---------------------------------------- Page Headers */


h2 {
    text-align: center;
    
}
    
.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

/* ----------------------------------------Footer */

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
    text-align: center
}

#footer-details {
    padding: 20px;
}

/* ---------------------------------------- Jumbotron */

.jumbotron {
    background-color:transparent;
    
}

.jumbotron-header {
    text-align: center;
    color: #4a93e2;
    font-weight: bold;
}

.jumbotron-text {color: #4a93e2;
    font-weight: bold;
}

/* --------------------------------------- Buttons */

.btn--contact {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--blue {
    color: white;
    background-color: blue;
    
}

.btn--blue:hover,
.btn--blue:active,
.btn--blue:focus,
.btn--blue:active:focus {
    background-color: #4a93e2;
    color: white;
}

/* ----------------------------------------/* Navbar */

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}


/* ---------------------------------------- Containers */

.home-container{
    height:100vh;
    background: url("../images/milarby-home.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color: rgba(0,0,0,0.5)
}


.content-container{
    padding-top:75px;
padding-bottom:75px;
    
}


/* ---------------------------------------- Sections */

.about-picture{
    height:50vh;
    background: url("../images/fieldstock.jpg") no-repeat top center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color: #9b9eae;
}

.about p{
    text-align:center;
    
}

.photo{
    margin:auto;
   padding:25px;
}

.audio{
    margin:auto;
padding:25px;
    
}

.container-color-about{
    background-color: #9b9eae;
}
.container-color-photo{
    background-color: #acafbf;
}
.container-color-video{
    background-color: #c2c5d6;
}
.container-color-audio{
    background-color: #d5d9ec;
}


/* ----------------------------------------Footer social links */

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: blue;
}


/* ----------------------------------------Header Block dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--short {
    width: 35px;
}


